<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>num1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,740},{63,114}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,20},{63,114}}</string>
                <key>sourceSize</key>
                <string>{131,150}</string>
            </dict>
            <key>num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,661},{77,118}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,15},{77,118}}</string>
                <key>sourceSize</key>
                <string>{131,150}</string>
            </dict>
            <key>num3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,578},{81,122}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{81,122}}</string>
                <key>sourceSize</key>
                <string>{131,150}</string>
            </dict>
            <key>prupleWinUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{1015,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{1015,174}}</string>
                <key>sourceSize</key>
                <string>{1037,196}</string>
            </dict>
            <key>redWinUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1199,174}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,18},{1199,174}}</string>
                <key>sourceSize</key>
                <string>{1211,196}</string>
            </dict>
            <key>startUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{574,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,13},{574,124}}</string>
                <key>sourceSize</key>
                <string>{576,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameUI.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98866759227fd9b50f783050448c5ba4$</string>
            <key>textureFileName</key>
            <string>gameUI.png</string>
        </dict>
    </dict>
</plist>
