<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>confirmBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{297,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{297,85}}</string>
                <key>sourceSize</key>
                <string>{307,87}</string>
            </dict>
            <key>guidePic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{790,480}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,26},{790,480}}</string>
                <key>sourceSize</key>
                <string>{804,506}</string>
            </dict>
            <key>guidePicB.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,637},{790,480}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,26},{790,480}}</string>
                <key>sourceSize</key>
                <string>{804,506}</string>
            </dict>
            <key>guideText.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{882,151}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{882,151}}</string>
                <key>sourceSize</key>
                <string>{930,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guideUI.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c6ac20c6c85396af58465bd72a5a053:2623967294948b8e7a983b086478c489:a993d13519fd16b80e2263e916456afc$</string>
            <key>textureFileName</key>
            <string>guideUI.png</string>
        </dict>
    </dict>
</plist>
