<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>purpleA.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{172,558}}</string>
                <key>offset</key>
                <string>{-15,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,558}}</string>
                <key>sourceSize</key>
                <string>{202,768}</string>
            </dict>
            <key>purpleB.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{172,558}}</string>
                <key>offset</key>
                <string>{-15,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,558}}</string>
                <key>sourceSize</key>
                <string>{202,768}</string>
            </dict>
            <key>purpleC.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,558}}</string>
                <key>offset</key>
                <string>{-15,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,558}}</string>
                <key>sourceSize</key>
                <string>{202,768}</string>
            </dict>
            <key>purpleD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{150,426}}</string>
                <key>offset</key>
                <string>{-26,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,124},{150,426}}</string>
                <key>sourceSize</key>
                <string>{202,768}</string>
            </dict>
            <key>redA.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,153},{207,544}}</string>
                <key>offset</key>
                <string>{38,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,22},{207,544}}</string>
                <key>sourceSize</key>
                <string>{283,768}</string>
            </dict>
            <key>redB.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,771},{207,544}}</string>
                <key>offset</key>
                <string>{38,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,22},{207,544}}</string>
                <key>sourceSize</key>
                <string>{283,768}</string>
            </dict>
            <key>redC.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,562},{207,544}}</string>
                <key>offset</key>
                <string>{38,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,22},{207,544}}</string>
                <key>sourceSize</key>
                <string>{283,768}</string>
            </dict>
            <key>redD.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{149,490}}</string>
                <key>offset</key>
                <string>{67,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,79},{149,490}}</string>
                <key>sourceSize</key>
                <string>{283,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>house.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3bb5757299c7c1a87b5f9cc8992cc39$</string>
            <key>textureFileName</key>
            <string>house.png</string>
        </dict>
    </dict>
</plist>
