<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1pBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1198},{578,141}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{578,141}}</string>
                <key>sourceSize</key>
                <string>{584,157}</string>
            </dict>
            <key>2pBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1198},{521,140}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{521,140}}</string>
                <key>sourceSize</key>
                <string>{523,148}</string>
            </dict>
            <key>4pBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1198},{673,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{673,140}}</string>
                <key>sourceSize</key>
                <string>{681,148}</string>
            </dict>
            <key>helpBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1873},{101,114}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{101,114}}</string>
                <key>sourceSize</key>
                <string>{117,118}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1194,432}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{1194,432}}</string>
                <key>sourceSize</key>
                <string>{1206,450}</string>
            </dict>
            <key>settingsBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1873},{112,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{112,120}}</string>
                <key>sourceSize</key>
                <string>{122,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menuUI.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4d70ab2f9f1872b7f1861544c6aa03e:336ac576cec04107d7f03991efc9c7a9:7c3f0407b433251fd0e98c28736b9c2d$</string>
            <key>textureFileName</key>
            <string>menuUI.png</string>
        </dict>
    </dict>
</plist>
