<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>absortEffectPurple.png</key>
			<dict>
				<key>width</key>
				<integer>324</integer>
				<key>height</key>
				<integer>324</integer>
				<key>originalWidth</key>
				<integer>355</integer>
				<key>originalHeight</key>
				<integer>355</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>absortEffectRed.png</key>
			<dict>
				<key>width</key>
				<integer>324</integer>
				<key>height</key>
				<integer>324</integer>
				<key>originalWidth</key>
				<integer>355</integer>
				<key>originalHeight</key>
				<integer>355</integer>
				<key>x</key>
				<integer>326</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>releaseEffectPurple.png</key>
			<dict>
				<key>width</key>
				<integer>355</integer>
				<key>height</key>
				<integer>355</integer>
				<key>originalWidth</key>
				<integer>355</integer>
				<key>originalHeight</key>
				<integer>355</integer>
				<key>x</key>
				<integer>652</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>releaseEffectRed.png</key>
			<dict>
				<key>width</key>
				<integer>355</integer>
				<key>height</key>
				<integer>355</integer>
				<key>originalWidth</key>
				<integer>355</integer>
				<key>originalHeight</key>
				<integer>355</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>357</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>robotAbody.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>357</integer>
				<key>y</key>
				<integer>357</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>robotAbodyEatFrameA.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>448</integer>
				<key>y</key>
				<integer>357</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>robotAbodyEatFrameB.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>539</integer>
				<key>y</key>
				<integer>357</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>robotAbodyEatFrameC.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>630</integer>
				<key>y</key>
				<integer>357</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>robotAdie.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>721</integer>
				<key>y</key>
				<integer>357</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>robotAeyeA.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>812</integer>
				<key>y</key>
				<integer>357</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>robotAeyeAabsort.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>838</integer>
				<key>y</key>
				<integer>357</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>robotAeyeArelease.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>864</integer>
				<key>y</key>
				<integer>357</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>robotAeyeB.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>890</integer>
				<key>y</key>
				<integer>357</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>robotAeyeBabsort.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>915</integer>
				<key>y</key>
				<integer>357</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>robotAeyeBrelease.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>940</integer>
				<key>y</key>
				<integer>357</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>robotBbody.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>714</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>robotBbodyEatFrameA.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>91</integer>
				<key>y</key>
				<integer>714</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>robotBbodyEatFrameB.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>182</integer>
				<key>y</key>
				<integer>714</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>robotBbodyEatFrameC.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>273</integer>
				<key>y</key>
				<integer>714</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>robotBdie.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>364</integer>
				<key>y</key>
				<integer>714</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>robotBeyeA.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>455</integer>
				<key>y</key>
				<integer>714</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>robotBeyeAabsort.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>478</integer>
				<key>y</key>
				<integer>714</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>robotBeyeArelease.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>501</integer>
				<key>y</key>
				<integer>714</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>robotBeyeB.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>21</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>524</integer>
				<key>y</key>
				<integer>714</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>robotBeyeBabsort.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>21</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>546</integer>
				<key>y</key>
				<integer>714</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>robotBeyeBrelease.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>21</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>568</integer>
				<key>y</key>
				<integer>714</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>robot0.png</string>
			<key>realTextureFileName</key>
			<string>robot0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>